.board {
    background-color: #ffe462;
    display: grid;
    height: min-content;
    padding: 3em;
}

.node {
    border-left: 3px solid black;
    border-top: 3px solid black;
    position: relative;
}

.stone {
    border-radius: 50%;
    height: 4em;
    width: 4em;
    position: absolute;
    top:-2em;
    left:-2em;
}

.hidden {
    opacity: 0
}

.hidden:hover {
    opacity: 0.5;
}