.board {
  background-color: #ffe462;
  display: grid;
  height: max-content;
  padding: 3em;
  width: max-content;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 6em;
  width: max-content;
  flex-grow: 1;
}

.point {
  border-left: 3px solid black;
  border-top: 3px solid black;
  position: relative;
}

.stone {
  border-radius: 50%;
  height: 4em;
  width: 4em;
  position: absolute;
  top: -2em;
  left: -2em;
}

.hidden {
  opacity: 0;
}

.hidden:hover {
  /* opacity: 0.5; */
  opacity: 0.8;
  cursor: pointer;

}

.scoreboard {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: aquamarine;
}

.debug {
  margin: 0;
  position: absolute;
top: 33%;
left: 33%;
color: blue;
opacity: 1;
}